
<mat-grid-list cols="2" rowHeight="100px" gutterSize="10" style="width: 100%; background-color: red;">
  <mat-grid-tile colspan="2" rowspan="4" style="background-color: green;">
  </mat-grid-tile>
</mat-grid-list>
<div style="padding: 50px;">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; height: 100%;">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> Opzioni </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="width: 100%;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" style="width: 100%;"></mat-row>
  </mat-table>
</div>